.div {
  min-height: screen;
  background-color: #fff;
  flex-direction: column;
  font-family: Inter, sans-serif;
  display: flex;
  max-width: 100%;
  width: 100%;
}
.div2 {
  color: #f4ebe2;
  background-color: #2a1e03;
  border: 1px solid #e5e7eb00;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  display: flex;
}
@media (width<=991px) {
  .div2 {
    display: flex;
  }
}
@media (width<=640px) {
  .div2 {
    display: flex;
  }
}
.div3 {
  font-size: 24px;
  font-weight: 700;
}
.div4 {
  align-items: center;
  gap: 32px;
  display: flex;
}
@media (width<=640px) {
  .div4 {
    display: none;
  }
}
.div5,
.div6,
.div7,
.div8,
.div9,
.div10 {
  cursor: pointer;
  font-size: 16px;
}
.div11 {
  display: none;
}
@media (width<=640px) {
  .div11 {
    display: block;
  }
}
.i {
  font-size: 24px;
}
.div12 {
  width: 100%;
  height: 900px;
  position: relative;
}
.div13 {
  background-color: center;
  position: absolute;
  inset: 0;
}
.img {
  aspect-ratio: 1.4;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  min-width: 20px;
  height: 900px;
  min-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.div14 {
  box-sizing: border-box;
  background-color: #18060696;
  flex-direction: column;
  flex-shrink: 0;
  height: 900px;
  display: flex;
  position: relative;
}
.div15 {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  position: relative;
}
.div16 {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
}
@media (width<=640px) {
  .div16 {
    font-size: 32px;
  }
}
.div17 {
  margin-bottom: 24px;
  font-size: 18px;
}
@media (width<=640px) {
  .div17 {
    font-size: 16px;
  }
}
.div18 {
  color: #fff;
  cursor: pointer;
  text-align: left;
  background-color: #9c8a9c;
  border-radius: 4px;
  margin-right: auto;
  padding: 12px 24px;
}
.div19 {
  justify-content: center;
  gap: 8px;
  display: flex;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}
.div20 {
  background-color: #fff;
  border-radius: 9999px;
  width: 8px;
  height: 8px;
}
.div21,
.div22,
.div23 {
  background-color: #ffffff50;
  border-radius: 9999px;
  width: 8px;
  height: 8px;
}
.div24 {
  background-color: #f4ebe2;
  padding: 48px 32px;
}
.div25 {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
}
.div26 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  display: grid;
}
@media (width<=991px) {
  .div26 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width<=640px) {
  .div26 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.div27 {
  flex-direction: column;
  align-self: stretch;
  width: auto;
  margin-bottom: -2px;
  display: flex;
  position: relative;
}
.wFullhAuto {
  margin-bottom: 1px;
}
.div28 {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
}
.i2 {
  color: #000;
  font-size: 24px;
}
.div29 {
  flex-direction: column;
  flex-grow: 0;
  height: auto;
  display: flex;
  position: relative;
}
.div30 {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
}
.i3 {
  color: #000;
  font-size: 24px;
}
.div31 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.div32 {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
}
.i4 {
  color: #000;
  font-size: 24px;
}
.div33 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.div34 {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
}
.i5 {
  color: #000;
  font-size: 24px;
}
.div35 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.div36 {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
}
.i6 {
  color: #000;
  font-size: 24px;
}
.div37 {
  justify-content: center;
  margin-top: 32px;
  display: flex;
}
.div38 {
  color: #fff;
  cursor: pointer;
  background-color: #9c8a9c;
  border-radius: 4px;
  padding: 12px 24px;
}
.div39 {
  color: #fff;
  background-color: #1a1a1a;
  margin-bottom: 8px;
  padding: 48px 32px;
}
.div40 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
  display: grid;
}
@media (width<=991px) {
  .div40 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (width<=640px) {
  .div40 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.div41 {
  flex-direction: column;
  gap: 16px;
  display: flex;
}
.div42 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}
.div43,
.div44,
.div45 {
  cursor: pointer;
  font-size: 14px;
}
.div46 {
  flex-direction: column;
  gap: 16px;
  display: flex;
}
.div47 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}
.div48,
.div49,
.div50 {
  cursor: pointer;
  font-size: 14px;
}
.div51 {
  flex-direction: column;
  gap: 16px;
  display: flex;
}
.div52 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}
.div53 {
  gap: 16px;
  display: flex;
}
.i7,
.i8,
.i9 {
  cursor: pointer;
  font-size: 24px;
}
